body {
    background-color: #18453B;
    margin-top: 0.5em;
}

form {
    width: 600px;
    margin: 0 auto 0 auto;
    background-color: beige;
}

form p {
    text-align: center;
    font-size: 1.25em;
}

#gameform table {
    margin: 1em auto 0 auto;
    border: 0;
    border-collapse: collapse;
}

#gameform td {
    border: 0;
}

form input[type="submit"] {
    font-size: 1.25em;
    width: 10em;
}

form button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.figure {
    text-align: center;
}